body {
  margin: 0;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  align-items: center;
}
:root::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: transparent;
}

:root::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

:root::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.top {
  background-image: linear-gradient(91.65deg, #ff3e3e 35.87%, #d90135 74.22%);
  height: 44px;
  width: 100%;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.6px;
  position: fixed;
  z-index: 1;
}

.top a {
  text-decoration: none;
  color: #ffffff;
}

.top p {
  margin: 0;
}

.logo {
  position: absolute;
  top: 44px;
  padding-top: 36px;
  padding-bottom: 20px;
  height: 40.1px;
  width: 108px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.link {
  cursor: pointer;
  display: block;
  width: 100%;
  text-align: center;
}

.bottom p {
  color: rgba(255, 255, 255, 0.5);
}

.bottom {
  background-image: linear-gradient(
    180deg,
    rgba(18, 18, 18, 0) 0%,
    #121212 138.14%
  );
  height: 59px;
  width: 100%;
  color: #ffffff;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  letter-spacing: -0.180085px;
  text-transform: capitalize;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 17.2881px;
  line-height: 20px;
  position: absolute;
  bottom: 0;
  transform: translateY(80px);
}

.far {
  margin-right: 10px;
}

.middle {
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  top: 162px;
  color: #ffffff;
  /* left: 90px; */
}

.middle h1 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.cards {
  position: absolute;
  top: 280px;
  /* left: 90px; */
  width: 81.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 255px;
  height: 255px;
  background-color: #1f1f1f;
  border: 2px solid #1f1f1f;
  box-sizing: border-box;
  border-radius: 10px;
  transition: all 0.3s ease;
  margin-bottom: 45px;
}

.card:hover {
  box-shadow: 0 0.4rem 1.4rem 0 rgba(153, 153, 153, 0.2);
  transform: translate3d(0, -0.3rem, 0) scale(1.05);
  transition: all 0.3s ease;
}

.card .one {
  height: 175px;
  width: 100%;
  position: relative;
  cursor: pointer;
}

.one img {
  height: 100%;
  width: 100%;
  border-radius: 10px 10px 0 0;
  display: block;
  box-sizing: border-box;
}

.image_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  color: #ffffff;
  display: flex;
  font-family: Inter, cursive;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 15px;
  opacity: 0;
  transition: opacity 0.25s ease;
}

.image_overlay_blur {
  backdrop-filter: blur(5px);
}

.image_overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s ease;
}

.image_overlay:hover {
  opacity: 1;
}

.image_overlay:hover > * {
  transform: translateY(0);
}

.card .two {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
}

.card .main_para {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 15px;
  color: #ffffff;
  width: 95%;
}

.main_a {
  text-decoration: none;
}

@media screen and (max-width: 380px) {
  .cards {
    width: 82%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 621px) and (min-width: 390px) {
  .cards {
    width: 93%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

@media screen and (max-width: 740px) and (min-width: 625px) {
  .cards {
    width: 76%;
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 1500px) and (min-width: 1300px) {
  .cards {
    width: 80%;
    display: flex;
    align-items: center;
  }
}
